fastapi[all]==0.80.0
uvicorn==0.16.0
pytest==7.2.0
click==8.1.3
unicorn==2.0.1
sqlalchemy==1.4.43
psycopg2-binary==2.9.5
psycopg
httpx==0.23.0
pydantic[dotenv]==1.10.2
python-multipart==0.0.5
aiocache==0.11.1
msgpack==1.0.4
ujson==5.5.0
fastapi-pagination[sqlalchemy]==0.10.0
cachetools==5.2.0
bcrypt==4.0.1
email-validator==1.3.0
ton-client-py==1.37.2.0
requests

pytest-env==0.8.1
pytest-postgresql==4.1.1
pytest-httpx==0.21.2

starlette==0.19.1
passlib~=1.7.4
pip==22.3.1
attrs==22.1.0
toml~=0.10.2
cryptography==38.0.3
py~=1.11.0
base~=1.0.4
setuptools==65.5.1
alembic==1.8.1